<div class="navbar" routerLinkActive="navbar">
    <a class="btn btn-info" role="button" routerLink="/home" routerLinkActive="navbar-button">Home</a>
    <a class="btn btn-info" role="button" routerLink="/signup" routerLinkActive="navbar-button">Sign Up</a>
    <a class="btn btn-info" role="button" routerLink="/login" routerLinkActive="navbar-button">Log In</a>
    <a class="btn btn-info" role="button" routerLink="/revvit" routerLinkActive="navbar-button">New Revvit</a>
    <button class="btn btn-primary" (click)="handleLogOut()">Log out</button>

</div>
